# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
.env/

# Copyright stuff
examples/
*.mp4

# Image Extraction
static/thumbnails/

# Logs and temp files
*.log
*.tmp
*.swp
*.bak
*.DS_Store
*.~*

# Flask/WSGI stuff
instance/
*.db
*.sqlite3

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.claude

# Uploads and generated assets
uploads/
static/thumbs/
test_outputs/
reference_output/
